html {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

body {
    padding: 0 auto;
}

.header {
    background: url(/assets/img1.png) no-repeat right -120px, #f8f8fb;
    background-size: cover;
    height: 95vh;
    width: 100%;
}

.navigation {
    display: flex;
    padding-top: 4.5rem;
    margin-left: 20rem
}

.navigation__logo {
    margin-right: 35rem;
}

.navigation__menu {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style-type: none;
}

.navigation__menu li {
    font-size: 1.8rem;
    font-weight: 600;
    color: #262626;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    margin-right: 3rem;
}

.navigation__menu li:hover {
    border-top: 2px solid #fd7e14;
}

.header__body {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
}

.header__body__title {
    font-size: 6rem;
    font-weight: 800;
    color: #262626;
    margin-top: 20rem;
    margin-bottom: 1.5rem;
}

.header__body__p {
    font-size: 1.8rem;
    font-weight: 400;
    color: #262626;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.header__body_button {
    background-color: #fd7e14;
    text-transform: uppercase;
    width: 60%;
    height: 5rem;
    font-size: 1.8rem;
    color: #fff;
    border: none;
    box-shadow: 0.5px 2px 5px 0px rgba(0, 0, 0, 0.62);
    transition: box-shadow .5s linear;
    cursor: pointer;
    margin-bottom: 10rem;
}

.header__body_button:hover {
    background-color: #fd9f13;
}

.section__first {
    background: url(/assets/img2.png) no-repeat 100px, #00c4c4;
    background-size: initial;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20rem;
}

.section__header {
    color: #fff;
    font-size: 5.7rem;
    font-weight: 700;
    padding-top: 20rem;
    padding-bottom: 1.5rem;
}

.section__paragraph {
    font-size: 1.8rem;
    color: #fff;
    line-height: 3rem;
    margin-bottom: 1.5rem;
    text-align: right;
    width: 40%;
}

.section__second {
    width: 100%;
    background: url(/assets/img3.png) no-repeat 1050px, #47a5ff;
    background-size: initial;
    height: 85vh;
    display: flex;
    justify-content: center;
}

.section__second__header {
    padding-left: 25rem;
    padding-top: 30rem;
}

.section__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section__box__img {
    display: flex;
}

.section__box__imgpattern {
    width: 10rem;
    height: 7rem;
    margin-bottom: 1.5rem;
    margin: 1rem 1rem 1rem 0;
    box-shadow: 0.5px 2px 5px 0px rgba(0, 0, 0, 0.62);
}

.section__box__img1 {
    background: url(/assets/icon1.png) no-repeat center center, #fcfcfc;
}

.section__box__img2 {
    background: url(/assets/icon2.png) no-repeat center center, #fcfcfc;
}

.section__box__img3 {
    background: url(/assets/icon3.png) no-repeat center center, #fcfcfc;
}

.section__box__img4 {
    background: url(/assets/icon4.png) no-repeat center center, #fcfcfc;
}

.section__box__button {
    background: #fcfcfc;
    font-size: 1.4rem;
    color: #605e5e;
    width: 40rem;
    margin: 1rem 0 1rem 1rem;
    height: 7rem;
    margin-bottom: 1.5rem;
    border: none;
    box-shadow: 0.5px 2px 5px 0px rgba(0, 0, 0, 0.62);
    transition: box-shadow .5s linear;
}

.section__box__button:hover {
    background: #e5e5e5;
}

.section__third {
    height: auto;
    background: #fcc623;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__third__header {
    color: #000;
    padding-top: 6rem;
}

.section__third__paragraph {
    color: #000;
    text-align: center;
    width: 65%;
}

.section__third__box {
    display: flex;
}

.section__third_boxsidebar {
    display: flex;
    flex-direction: column;
}

.section__third__photo {
    margin: 1.5rem;
    box-shadow: 0.5px 2px 5px 0px rgba(0, 0, 0, 0.62);
}

.section__third__photo7 {
    margin-right: 3rem
}

.section__third__photo8 {
    margin-left: 3rem;
}

.section__third__photo:hover {
    box-shadow: 0.5px 2px 5px 0px rgba(0, 0, 0, 0.9);
}

.section__third__boxrow {
    display: flex;
    margin: 1rem;
}

.section__third__button {
    background-color: #47a5ff;
    text-transform: uppercase;
    width: 10%;
    height: 5rem;
    font-size: 1.8rem;
    color: #fff;
    border: none;
    box-shadow: 0.5px 2px 5px 0px rgba(0, 0, 0, 0.62);
    transition: box-shadow .5s linear;
    cursor: pointer;
    margin: 5rem 0 5rem 0;
}

.section__fourth {
    background: url(/assets/img9.png) no-repeat center, #fff;
    background-size: initial;
    height: 40vh;
    margin-left: 20rem;
}

.section__fourth__title {
    font-size: 4.5rem;
    font-weight: 400;
    color: #262626;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.section__fourth__paragraph {
    color: #000;
    text-align: left;
    width: 40%;
}

.section__fourth__input {
    line-height: 4.7rem;
    width: 35%;
    margin-right: 1rem;
    padding-left: 1rem;
}

.section__fourth__button {
    background-color: #96b92c;
    text-transform: uppercase;
    width: 10%;
    height: 5rem;
    font-size: 1.8rem;
    color: #fff;
    border: none;
    box-shadow: 0.5px 2px 5px 0px rgba(0, 0, 0, 0.32);
    transition: box-shadow .5s linear;
    cursor: pointer;
    margin: 5rem 0 5rem 0; 
}

.section__fourth__button:hover {
    background-color: #fcc623;
}

.section__fifth {
    background: #6f42c1;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__fifth__blogphoto {
    max-width: 100%;
    box-shadow: 0px 2px 10px 0px rgba(50,50,50,0.6);
    transition: all 0.4s;
    height: fit-content;
}

.section__fifth__blogphoto2 {
    height: 33rem;
}

.section__fifth__header {
    padding-top: 7rem;
}

.section__fifth__blogbox {
    display: flex;

}

.section__fifth__blogphoto {
    margin: 1rem;
}

.section__fifth__paragraph {
    width: 90%;
    text-align: center;
}

.section__fifth__button {
    background-color: #F82B3C;
    text-transform: uppercase;
    width: 10%;
    height: 5rem;
    font-size: 1.8rem;
    color: #fff;
    border: none;
    box-shadow: 0.5px 2px 5px 0px rgba(0, 0, 0, 0.32);
    transition: box-shadow .5s linear;
    cursor: pointer;
    margin: 5rem 0 5rem 0; 
}

footer {
    height: auto;
    background: #000;
}

.section__fifth__paragraph {
    color: #fff;
    font-size: 1.8rem;
    padding: 3rem;
}