html {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

body {
    padding: 0 auto;
}

.header {
    background:url(/assets/img1.png) no-repeat right -120px, #f8f8fb;
    background-size: cover;
    height: 95vh;
    width: 100%;
}

.navigation {
    display: flex;
    padding-top: 4.5rem;
    margin-left: 10rem
}

.navigation__logo {
    margin-right: 35rem;
}

.navigation__menu {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style-type: none;
}

.navigation__menu li {
    font-size: 1.8rem;
    font-weight: 600;
    color: #262626;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    margin-right: 3rem;
}

.navigation__menu li:hover {
    border-top: 2px solid #fd7e14;
}

.header__body {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.header__body__title {
    font-size: 6rem;
    font-weight: 800;
    color: #262626;
    margin-top: 20rem;
    margin-bottom: 1.5rem;
}

.header__body__p {
    font-size: 1.8rem;
    font-weight: 400;
    color: #262626;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.header__body_button {
    background-color: #fd7e14;
    text-transform: uppercase;
    width: 60%;
    height: 5rem;
    font-size: 1.8rem;
    color: #fff;
    border: none;
    box-shadow: 0.5px 2px 5px 0px rgba(0,0,0,0.62);
    transition: box-shadow .5s linear;
    cursor: pointer;
    margin-bottom: 10rem;
}

.header__body_button:hover {
    background-color: #fd9f13;
}

.section__first {
    background:url(/assets/img2.png) no-repeat 100px, #00c4c4;
    background-size: initial;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10rem;
}

.section__header {
    color: #fff;
    font-size: 5.7rem;
    font-weight: 700;
    padding-top: 20rem;
    padding-bottom: 1.5rem;
}

.section__paragraph {
    font-size: 1.8rem;
    color: #fff;
    line-height: 3rem;
    margin-bottom: 1.5rem;
    text-align: right;
    width: 40%;
}

.section__second {
    width: 100%;
    background:url(/assets/img3.png) no-repeat 850px, #47a5ff;
    background-size: initial;
    height: 95vh;
}

.section__third {
    background: #ffd863;
    height: 950px;
    width: 100%;
}

.section__fourth {
    background: #fff;
    height: 400px;
    width: 100%;
}

.section__fifth {
    background: #6f42c1;
    height: 950px;
    width: 100%;
}

.section__sixth {
    background: #fff;
    height: 950px;
    width: 100%;
}

footer {
    height: 100px;
    background: #000;
}